.section-localizacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 12%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  background-color: #d3d3d3;
  background-blend-mode: multiply;
}

.section-localizacao-left {
  padding-block: 10%;
}
.section-localizacao-left iframe {
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.section-localizacao-right {
  display: flex;
  padding-block: 10%;
  align-items: end;
}
.box-text-local {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.box-text-local h5 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
.box-text-local b {
  color: #dda92e;
}

.box-text-local p {
  font-size: 16px;
  color: #fff;
}

@media (max-width: 768px) {
  .section-localizacao {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 20px;

  }
  .section-localizacao-left iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 300px;
  }
  .box-text-local p {
  font-size: 13px;
}
}
