.about-section-open {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #02093A;
    padding-inline: 12%;
    padding-block: 2%;
    background-image: var(--gtap-bg-src-assets-bgocean-webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.about-section-open h4 {
    font-size: 35px;
    color: #02093A;
    font-weight: 600;
    text-align: center;
}

.container-sections-open {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px
}

.content-about-open {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding-block: 30px;
    padding-inline: 20px;
    background-color: #fff;
}

.content-about-open b {
    font-weight: 600;
}

/* container da imagem da logo */
.content-logo-about {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding-block: 30px;
     background-color: #fff;

}

.content-logo-about img {
    width: 160px;
}
.video-about-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.video-about-container h5 {
    font-size: 33px;
    color: #02093A;
    font-weight: 400;
    text-align: center;
    
}

.video-about-container h5 b {
    font-weight: 600;
}

.video-about-container video {
    border-radius: 10px;
}

.text-about-solutions {
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding-block: 30px;
    padding-inline: 120px;
    text-align: center;
}

.text-about-solutions b {
    font-weight: 600;
}

@media (max-width: 768px) {

    .about-section-open {
        padding-inline: 5%;
}
  .container-sections-open {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text-about-solutions {
        padding: 20px;
    }
    .about-section-open h4 {
    font-size: 25px;
}
.content-about-open {
    padding-block: 20px;
    padding-inline: 10px;
    font-size: 15px;
}
.content-logo-about {
    display: none;
}
.video-about-container h5 {
    font-size: 23px;    
}
.text-about-solutions {
    font-size: 15px;
    padding-inline: 10px;
}
}