.section-idealizador {
  background-image: var(--gtap-bg-src-assets-backgroundescritorio-webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  padding-inline: 12%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-idealizador {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 2%;
  margin-bottom: 8%;
  padding-inline: 3%;
  margin-inline: 5%;
  background-color: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding-bottom: 25px;
}

.content-idealizador h3 {
  color: #dda92e;
  font-size: 45px;
  font-weight: 600;
}

.content-idealizador p {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

.content-idealizador b {
  font-weight: 600;
  color: #ffdf92;
}

.content-image-idealizador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-image-idealizador img {
  width: 500px;
}
.mobile-button-instagram {
  display: none;
}

.content-idealizador button {
  color: #02093a;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(to right, #dda92e, #ffdf92);
  border: none;
  border-radius: 5px;
  padding-inline: 3px;
  padding-block: 10px;
  margin-bottom: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-idealizador {
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
  }

  .content-idealizador h3 {
    font-size: 25px;
  }

  .content-idealizador p {
    font-size: 15px;
  }

  .content-image-idealizador img {
    z-index: 1;
    width: 300px;
    margin-top: -50px;
  }

  .content-idealizador button {
    width: 80%;
  }

  .desktop-button-instagram {
    display: none;
    
  }

  .mobile-button-instagram {
    display: block;
    position: relative;
  }

  .mobile-button-instagram button {
    box-shadow: 0 0 200px 50px #dda92e63;
    position: absolute;
    z-index: 10;
    bottom: 60px;
    left: 25vw;
    color: #02093a;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(to right, #dda92e, #ffdf92);
    border: none;
    border-radius: 5px;
    padding-inline: 3px;
    padding-block: 10px;
    align-items: center;
    width: 230px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
}