.section-depoimentos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5% 10%;
  background-image: var(--gtap-bg-src-assets-bgsection-webp);
  background-position: right;
  background-repeat: repeat-x;
  background-size: contain;
}

.section-depoimentos h3 {
  color: #dda92e;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.section-depoimentos h4 {
  text-align: center;
  color: #000d74;
  font-size: 32px;
  font-weight: 400;
}

.section-depoimentos h4 b {
  font-weight: 700;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-block: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 990px;
  margin: 0 auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.depoimento-card {
  min-width: 300px;
  max-width: 300px;
  flex: 0 0 auto;
  margin-right: 30px;
  scroll-snap-align: start;
}

.video-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16/9;
  margin-bottom: 10px;
}

.video-container iframe {
  border: 2px solid #dda92e;

}

.depoimento-card h6 {
  font-size: 22px;
  font-weight: 600;
  color: #02093A;
  margin-bottom: 6px;
}

.depoimento-card p {
  font-size: 15px;
  color: #02093A;
  line-height: 1.5;
}

.nav {
  font-size: 26px;
  background: #fff;
  color: #02093a;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav.left {
  margin-right: 12px;
}

.nav.right {
  margin-left: 12px;
}


@media (max-width: 768px) {
  .depoimento-card {
    width: 100%;
    max-width: 100%;
    padding-inline: 0;
  }
  .section-depoimentos {
    padding: 3% 2%;
    gap: 0;
  }
  .section-depoimentos h4 {
    margin: 0 auto;
    width: 90%;
    font-size: 25px;
  }
  .depoimento-card p {
    text-align: center;
  }
  .depoimento-card h6 {
    text-align: center;
  }
}

.testimonial-arrow { border: 0; background: transparent; color: #dda92e; font-size: 30px; cursor: pointer; flex-shrink: 0; }
