.section-sobre-open {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 12%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #02093a;
}

.section-left-open {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.tag-open-page {
  width: 70%;
  background-color: #e5e5e5;
  color: #02093a;
  padding-block: 5px;
  padding-inline: 2px;
  text-align: center;
  border-radius: 14px;
}

.tag-open-page b {
  font-weight: 600;
}

.src-page-open {
  font-size: 18px;
  color: #E5E5E5;
}

.src-page-open b {
  font-size: 18px;
  color: #02093a;
}

.title-open-section {
  display: block;
  font-size: 50px;
}

.title-open-section b {
  color: #dda92e;
  font-weight: 600;
}

.typing-js::after {
  content: "|";
  animation: blink 0.7s steps(1) infinite;
  margin-left: 2px;
  color: #dda92e;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.section-left-open button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 8px;
  align-items: center;
  background: linear-gradient(to left, #000d74, #02093a);
  color: #fff;
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
}

.stars-content-open {
  display: flex;
  flex-direction: row;
  gap: 5px;

}

.content-data-open {
  font-size: 20px;
}

.content-data-open b {
  font-weight: 600;
}


/* seção galeria de imagens */

.section-right-open {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
}

.img-open-gallery {
  position: absolute;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.content-image-mobile-open {
  display: none;
}

.img-open-gallery:hover {
  transform: scale(1.05);
  z-index: 2;
}

/* Posicionamento personalizado */
.img1 {
  top: 30px;
  left: 10%;
  width: 210px;
}

.img2 {
  top: 200px;
  right: -14%;
  width: 120px;
}

.img3 {
  top: 150px;
  left: 25%;
  width: 380px;
  z-index: 999;
  box-shadow: 0 0 200px 50px #dda92e63;
}

/* imagem central grande */
.img4 {
  bottom: 180px;
  left: -10%;
  width: 180px;
}

.img5 {
  bottom: 0;
  right: 0;
  width: 250px;
}

.img6 {
  bottom: 18px;
  left: 15%;
  width: 120px;
}

.title-open-section-mobile {
  display: none;
}


@media (max-width: 768px) {
  .section-sobre-open {
    display: flex;
    flex-direction: column;
    padding-block: 2%;
    padding-inline: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-left-open {
    align-items: center;
  }

  .section-right-open {
    display: none;
  }
  .title-open-section {
    display: none;
  }
  .title-open-section-mobile {
    display: block;
    font-size: 28px;
  }
  .title-open-section-mobile b {
  color: #dda92e;
  font-weight: 600;
}
.section-left-open button {
  padding-inline: 15px;
  padding-block: 5px;
  font-size: 16px;
}

.section-left-open button img{
  width: 23px;
}

.content-image-mobile-open {
  display: block;
  padding-block: 8px;
  
}

.content-data-open {
  padding-inline: 2%;
  text-align: left;
  font-size: 15px;
}

}