.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  -webkit-backdrop-filter: blur(10px); /* Safari */
  border-bottom: 1px solid #ffffffc7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: #fff;
}

.navbar-light {
  background-color: #fff;
  color: #02093a;
  border-bottom: 2px solid #e5e5e5;
 
}

.navbar-container {
  padding-inline: 12%;
  padding-block: 1%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.navbar-links a:hover {
  color: #83BCE7;
}

@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 4%;
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    row-gap: 10px;
    font-size: 14px;
    gap: 1rem;
  }
}

.navigation-mobile { display: none; }
@media (max-width: 768px) {
  .navigation-desktop { display: none; }
  .navigation-mobile { display: block; }
}
